---
import Layout from "../layouts/Layout.astro";
import ProjectCard from "../components/ProjectCard.astro";
import type { Project } from "../types";

const projects: Project[] = [
    {
        title: "Flux: Music Streaming Site",
        description:
            "Music streaming site built with React and Node.js. Features user authentication, playlist management, and a sleek UI.",
        link: "https://github.com/roshan-parida/flux",
        tags: ["Vitejs", "Javascript", "MERN", "Nodejs", "Render"],
    },
    {
        title: "PriceWatch: Automated price-tracking",
        description:
            "Automated price-tracking tool that monitors product prices and sends notifications when they drop below a certain threshold.",
        link: "https://github.com/yourusername/code-playground",
        tags: ["Nextjs", "Web Scraping", "Web APIs"],
    },
    {
        title: "Sentinel: Smart Home Security System",
        description:
            "Smart home security system that uses IoT devices to monitor and secure your home. Features real-time alerts and remote access.",
        link: "https://github.com/roshan-parida/sentinel",
        tags: ["Vanilla", "Nodejs", "Express", "IoT"],
    },
];
---

<Layout title="Projects">
    <h1>// My Projects</h1>
    <p>
        Here's a selection of projects I've worked on. You can find more on my <a
            href="https://github.com/roshan-parida"
            target="_blank"
            rel="noopener noreferrer">GitHub profile</a
        >.
    </p>

    <div class="project-grid">
        {
            projects.map((project, index) => (
                <ProjectCard project={project} index={index} />
            ))
        }
    </div>
</Layout>

<style>
    h1 + p {
        margin-top: -1rem;
        margin-bottom: 2.5rem;
        color: var(--text-secondary);
        max-width: 70ch;
    }
</style>
