---
export interface Project {
    title: string;
    description: string;
    link: string;
    tags?: string[];
}
const { project } = Astro.props as { project: Project };
---

<div class="project-card">
    <h2>{project.title}</h2>
    <p>{project.description}</p>
    {
        project.tags && (
            <div class="project-tags">
                {project.tags.map((tag) => (
                    <span class="skill-tag">{tag}</span>
                ))}
            </div>
        )
    }
    <a href={project.link} target="_blank" rel="noopener noreferrer">
        View Project
    </a>
</div>
