---
import type { LayoutProps } from "../types";
import "../styles/global.css";

const { title } = Astro.props as LayoutProps;

const currentYear = new Date().getFullYear();
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title} | Roshan Parida/Portfolio</title>
    </head>
    <body>
        <header>
            <h1><a href="/" aria-label="Homepage">Roshan Parida</a></h1>
            <nav>
                <a href="/">Home</a>
                <a href="/about">About</a>
                <a href="/projects">Projects</a>
                <a href="/contact">Contact</a>
            </nav>
        </header>

        <main>
            <slot />
        </main>

        <footer>
            &copy; {currentYear} Roshan Parida. All rights reserved.
        </footer>
    </body>
</html>
